@model  Neyiyelim.ViewModel.restorantSehir
<div class="top-header-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
            <!-- Breaking News -->
            <div class="col-12 col-sm-6">
                <div class="breaking-news">
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            <li><a href="#">Hello World!</a></li>
                            <li><a href="#">Welcome to Colorlib Family.</a></li>
                            <li><a href="#">Hello Delicious!</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Top Social Info -->
            <div class="col-12 col-sm-6">
                <div class="text-right">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <label>Hoşgeldiniz @User.Identity.Name</label>
                        @Html.ActionLink("Çıkış", "Logout", "Account", null, new { @class = "btn btn-outline-danger", @style = "color:red;margin-left:5%;" })

                    }
                    else
                    {

                        @Html.ActionLink("Giriş", "Login", "Account", null, new { @class = "btn btn-outline-success", @style = "color:green;" })
                        @Html.ActionLink("Kayıt", "Register", "Account", null, new { @class = "btn btn-outline-success", @style = "color:green;margin-left:3%;" })

                    }
                    @if(User.IsInRole("Admin"))
                    { 
                        @Html.ActionLink("Yönetici Paneli","Index","Admin",null, new { @class = "btn btn-outline-success", @style = "color:green;margin-left:2%;" })


                    }


                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="Type any keywords...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="deliciousNav">

                <!-- Logo -->
                <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                            <li>
                                <a href="#">Nerde Yiyelim</a>
                                <ul class="dropdown">
                                    <li>
                                        @foreach (var item in Model.cities)
                                        {

                                            <a href="#">@item.CityName</a>
                                            <ul class="dropdown">

                                                <li>
                                                    @foreach (var item2 in Model.restorants)
                                                    {
                                                        <a href="#">@item2.RestoranName </a>

                                                    }
                                                </li>


                                            </ul>

                                        }
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Ne Yiyelim</a>

                                <ul class="dropdown">
                                    <li>

                                        @foreach (var item3 in Model.receiptCategories)
                                        {

                                            @Html.ActionLink(item3.CategoryName, "Index", "Receipt", new { id = item3.Id }, null)
                                            <ul class=" dropdown">
                                                <li>
                                                    @foreach (var item4 in Model.receipts)
                                                    {
                                                        @Html.ActionLink(item4.ReceiptName, "Index", "Receipt", new { ad = item4.ReceiptName }, null)

                                                    }
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                </ul>

                            </li>
                            <li><a href="contact.html">Iletişim</a></li>
                        </ul>

                        <!-- Newsletter Form -->
                        <div class="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
