@model Neyiyelim.Models.IndexPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Style/adminpage/css/style.css">
    <title>IndexPage</title>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="index.html" class="logo">Admin Panel</a></h1>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href=@Url.Action("TarifEkle","Admin")><span class="fa fa-home mr-3"></span> Tarif Ekle</a>
                </li>
                <li>
                    <a href=@Url.Action("KategoriEkle", "Admin")><span class="fa fa-user mr-3"></span> Kategori Ekle</a>
                </li>
                <li>
                    <a href=@Url.Action("IndexPage","Admin")><span class="fa fa-sticky-note mr-3"></span>Index Düzenle</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @using (Html.BeginForm())
            {
                <div class="row pl-4">

                    <p class="mt-1">Ana sayfa başlık adı</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.anasayfabaslik, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <div class="row pl-4">

                    <p class="mt-1">Ana sayfa içerik</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.anasayfaicerik, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <div class="row pl-4">

                    <p class="mt-1">Ana sayfa Resim URl</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.anasayfaresimUrl, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <div class="row pl-4">

                    <p class="mt-1">Tarif adi</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.receiptbaslik, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <div class="row p-4 ">
                    <div class="col-md-3">
                        <p>Tarifin İçindekileri</p>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.ReceiptIntegredients, new { @class = "form-control", @style = "background-color : #d1d1d1" })
                    </div>
                </div>
                <div class="row pl-4">

                    <p class="mt-1">Tarif icerik</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.receipicerik, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <div class="row pl-4">

                    <p class="mt-1">Tarif Resim Url</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.receiptfoto, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <button type="submit">Kaydet</button>
            }
        </div>
    </div>
    <script src="~/Style/adminpage/js/jquery.min.js"></script>
    <script src="~/Style/adminpage/js/popper.js"></script>
    <script src="~/Style/adminpage/js/bootstrap.min.js"></script>
    <script src="~/Style/adminpage/js/main.js"></script>
</body>
</html>
